<p id="notice"><%= notice %></p>

<p>
  <b>Due date:</b>
  <%= @assignment.due_date %>
</p>

<p>
  <b>Assign date:</b>
  <%= @assignment.assign_date %>
</p>

<p>
  <b>Description:</b>
  <%= @assignment.description %>
</p>

<p>
  <b>Points max:</b>
  <%= @assignment.points_max %>
</p>

<p>
  <b>Points earned:</b>
  <%= @assignment.points_earned %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
