<p id="notice"><%= notice %></p>

<p>
  <b>Uni:</b>
  <%= @user.uni %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Majors:</b>
  <%= @user.majors %>
</p>

<p>
  <b>Minors:</b>
  <%= @user.minors %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
