<h1>Add Announcement</h1>

<%= form_tag(:controller => "courses", :action => "add_announcement") do %>
	<%= label_tag(:announce, "Add An Announcement To This Course:") %>
 	<%= text_area_tag(:announce) %>
  	<%= submit_tag("Add Student") %>
<% end %>
<%= link_to 'Back', @course %>

