<% if admin? %>
    <h1>Listing Courses</h1>
<% else %>
    <h1>My Courses</h1>
<% end %>   
<table>
  <tr>
    <th>Name</th>
    <th>Professor</th>
    <th>Callnumber</th>
    <th>Days</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <% current_user = User.find(session[:user_id])%>
  <tr>
    <td><%= course.name %></td>
    <td><%= course.professor %></td>
    <td><%= course.callnumber %></td>
    <td><%= course.days %></td>
    <td><%= link_to 'Show', course %></td>
    <% if admin? %>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add Student', add_student_path(course) %></td>
        <td><%= link_to 'Add Announcement', add_announcement_path(course) %></td>


    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if admin? %>
    <%= link_to 'New Course', new_course_path %>
<% end %>